<!DOCTYPE html>
<html>
<head>
    <title>电影首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {#  <script type="application/x-javascript"> addEventListener("load", function () {#}
    {#        setTimeout(hideURLbar, 0);#}
    {#    }, false);#}
    {##}
    {#    function hideURLbar() {#}
    {#        window.scrollTo(0, 1);#}
    {#    } </script>#}
    <link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- start plugins -->
    <script type="text/javascript" src='../../static/js/jquery-1.11.1.min.js'></script>
    <link href='../../static/css/style.css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel="stylesheet"
          type="text/css"/>
    <script src='../../static/js/responsiveslides.min.js'></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="container_wrap">
        <div class="header_top">
            <div class="col-sm-3 logo"
                 style="float: none;display: block;margin-left: auto;margin-right: auto;margin: 0 auto; ">
                <img src='../../static/images/logo.png' alt=""/>
            </div>
            <div class="clearfix">
                <a class="fuwuqi" href="#" style="font-size: 20px">腾讯云</a>
                <a class="fuwuqi" href="#" style="font-size: 20px">阿里云</a>
                <a class="fuwuqi" href="#" style="font-size: 20px">本地</a>
            </div>
        </div>
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li><img src='../../static/images/banner.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='../../static/images/banner1.jpg' class="img-responsive" alt=""/></li>
                    <li><img src='../../static/images/banner2.jpg' class="img-responsive" alt=""/></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="moviecontent"><h3 style="text-align: center">电影内容</h3></div>
            <div class="box_2">
                <div class="clearfix">
                    <div class="row_1">
                        <div class="col-md-6 grid_7">
                            <div class="col_2">
                                <div class="m_5">
                                    <a href="#"> <img src='../../static/images/pic1.jpg' class="img-responsive" alt=""/></a>
                                </div>
                                <ul class="list_4">
                                    <li><i class="icon1"> </i>
                                        <p>2,548</p></li>
                                    <li><i class="icon2"> </i>
                                        <p>215</p></li>
                                    <li><i class="icon3"> </i>
                                        <p>546</p></li>
                                    <li>Rating : &nbsp;&nbsp;<p>200</p>
                                    </li>
                                    <li>Release Date : &nbsp;<span class="m_4">Mar 15, 2015</span></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 grid_7">
                            <div class="col_2">
                                <div class="m_5">
                                    <a href="#"> <img src="../../static/images/pic2.jpg" class="img-responsive" alt=""/></a>
                                </div>
                                <ul class="list_4">
                                    <li><i class="icon1"> </i>
                                        <p>2,548</p></li>
                                    <li><i class="icon2"> </i>
                                        <p>215</p></li>
                                    <li><i class="icon3"> </i>
                                        <p>546</p></li>
                                    <li>Rating : &nbsp;&nbsp;<p><img src="../../static/images/rating1.png" alt=""/></p>
                                    </li>
                                    <li>Release Date : &nbsp;<span class="m_4">Mar 15, 2015</span></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 grid_7">
                            <div class="col_2">
                                <div class="m_5">
                                    <a href="#"> <img src="../../static/images/pic2.jpg" class="img-responsive" alt=""/></a>
                                </div>
                                <ul class="list_4">
                                    <li><i class="icon1"> </i>
                                        <p>2,548</p></li>
                                    <li><i class="icon2"> </i>
                                        <p>215</p></li>
                                    <li><i class="icon3"> </i>
                                        <p>546</p></li>
                                    <li>Rating : &nbsp;&nbsp;<p><img src="../../static/images/rating1.png" alt=""/></p>
                                    </li>
                                    <li>Release Date : &nbsp;<span class="m_4">Mar 15, 2015</span></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 grid_7">
                            <div class="col_2">
                                <div class="m_5">
                                    <a href="#"> <img src="../../static/images/pic1.jpg" class="img-responsive" alt=""/></a>
                                </div>
                                <ul class="list_4">
                                    <li><i class="icon1"> </i>
                                        <p>2,548</p></li>
                                    <li><i class="icon2"> </i>
                                        <p>215</p></li>
                                    <li><i class="icon3"> </i>
                                        <p>546</p></li>
                                    <li>Rating : &nbsp;&nbsp;<p><img src="../../static/images/rating1.png" alt=""/></p>
                                    </li>
                                    <li>Release Date : &nbsp;<span class="m_4">Mar 15, 2015</span></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 grid_7">
                            <div class="col_2">
                                <div class="m_5">
                                    <a href="#"> <img src="../../static/images/pic1.jpg" class="img-responsive" alt=""/></a>
                                </div>
                                <ul class="list_4">
                                    <li><i class="icon1"> </i>
                                        <p>2,548</p></li>
                                    <li><i class="icon2"> </i>
                                        <p>215</p></li>
                                    <li><i class="icon3"> </i>
                                        <p>546</p></li>
                                    <li>Rating : &nbsp;&nbsp;<p><img src="../../static/images/rating1.png" alt=""/></p>
                                    </li>
                                    <li>Release Date : &nbsp;<span class="m_4">Mar 15, 2015</span></li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>